.menu {
    width: auto;
    height: auto;
    background: transparent;
    border: 0 !important; 
    top: 0;
    position: fixed;
    min-height: 100%;
  &-lateral {
    padding: 12px;
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    &-icone {
      font-size: 18px;
      font-weight: 900;
    }
  }
  &-itens {
    padding: 8px;
    height: auto;
    position: absolute;
    background: #4a4a4a;
    top: 0;
    width: 200px;
    &-fechar {
      text-align: right;
      font-size: 28px;
      font-weight: 900;
      color: #fff;
      padding: 0 18px ;
      height: 60px;
      cursor: pointer;

    }
    &-conteudo {
      padding: 4px 16px;
      margin: 12px 0;
      font-size: 14px;
      cursor: pointer;
      display: block;
    }
  }
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }