<!-- <div class="menu">
    <div class="menu-lateral" (click)="toggleMenu();" [ngClass]="{showMenu: !!mostraMenu}">
        <div class="menu-lateral-icone ">
            MENU
        </div>
    </div>
    <div class="menu-itens"  [ngClass]="{showItens: !!mostraMenu}">
        <div class="menu-itens-fechar " (click)="toggleMenu()">
            x
        </div>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
    </div>
</div> -->
<mat-drawer-container class="menu" autosize>
    <mat-drawer #drawer class="menu-itens" mode="side">
        <div class="menu-itens-fechar " (click)="drawer.toggle(); toggleMenu();">
            x
        </div>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
        <span class="menu-itens-conteudo">teste</span>
    </mat-drawer>

    <div class="menu-lateral" *ngIf="!mostraMenu">
        <div class="menu-lateral-icone " type="button" mat-button (click)="drawer.toggle(); toggleMenu();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px"
                height="60px"version="1.1">
                <g id="surface135585">
                    <path
                        style=" stroke:none;fill-rule:nonzero;fill:rgb(94.509804%,76.862745%,5.882353%);fill-opacity:1;"
                        d="M 32 7 C 18.191406 7 7 18.191406 7 32 C 7 45.808594 18.191406 57 32 57 C 45.808594 57 57 45.808594 57 32 C 57 18.191406 45.808594 7 32 7 Z M 32 7 " />
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
                        d="M 32 58.5 C 17.398438 58.5 5.5 46.601562 5.5 32 C 5.5 17.398438 17.398438 5.5 32 5.5 C 46.601562 5.5 58.5 17.398438 58.5 32 C 58.5 46.601562 46.601562 58.5 32 58.5 Z M 32 8.5 C 19.050781 8.5 8.5 19.050781 8.5 32 C 8.5 44.949219 19.050781 55.5 32 55.5 C 44.949219 55.5 55.5 44.949219 55.5 32 C 55.5 19.050781 44.949219 8.5 32 8.5 Z M 32 8.5 " />
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
                        d="M 43.25 26 L 20.75 26 C 19.898438 26 19.25 25.351562 19.25 24.5 C 19.25 23.648438 19.898438 23 20.75 23 L 43.25 23 C 44.101562 23 44.75 23.648438 44.75 24.5 C 44.75 25.351562 44.101562 26 43.25 26 Z M 43.25 33.5 L 20.75 33.5 C 19.898438 33.5 19.25 32.851562 19.25 32 C 19.25 31.148438 19.898438 30.5 20.75 30.5 L 43.25 30.5 C 44.101562 30.5 44.75 31.148438 44.75 32 C 44.75 32.851562 44.101562 33.5 43.25 33.5 Z M 43.25 33.5 " />
                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;"
                        d="M 43.25 41 L 20.75 41 C 19.898438 41 19.25 40.351562 19.25 39.5 C 19.25 38.648438 19.898438 38 20.75 38 L 43.25 38 C 44.101562 38 44.75 38.648438 44.75 39.5 C 44.75 40.351562 44.101562 41 43.25 41 Z M 43.25 41 " />
                </g>
            </svg>

        </div>
    </div>
</mat-drawer-container>