.toolbar {
  height: 90px;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3a3a3a;
  color: white;
  font-weight: 600;
  z-index: 99;

  img {
    margin: 0 16px;
  }

  #twitter-logo {
    height: 40px;
    margin: 0 16px;
    &:hover {
      opacity: 0.8;
    }
  }
}
